:root {
    --backgroundColorMain: #8C5E47;
    --backgroundColorSecond: hwb(13 31% 51%);
    --trinary: #e7c5b4;
    --trinary2: #B4846C;
    --btn-color: #301CA0;
    --btn-color2: #ffdd00;
    --text: #ffffff;
    --text2: black
}


@font-face {
    font-family: bold;
    src: url(./fonnts.com-Aeonik-Bold.ttf);
}

@font-face {
    font-family: regular;
    src: url(./fonnts.com-Aeonik-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--backgroundColorMain);
    font-family: regular;
}

html,
body {

    width: 100%;
    height: 100%;
}


#main {
    width: 100%;
    height: 100%;
    background-color: var(--backgroundColorMain);
    color: aliceblue;
}

nav {
    position: fixed;
    width: 100%;
    height: 4rem;
    background-color: var(--trinary);
    z-index: 99;
}

section.allElems {

    width: 100%;
    padding: 2rem;
    padding-top: 6rem;
    background-color: var(--trinary2);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    position: absolute;

}


.elem {
    background-color: #feba17;
    height: 20rem;
    width: 16rem;
    font-size: 30px;
    border-radius: 20px;
    overflow: hidden;
    transition: all ease 0.3s;
    position: relative;
}

.elem>img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.elem:active {
    scale: 0.96;
}

.elem>h1 {
    position: absolute;
    bottom: 1rem;
    font-size: 1.5rem;
    right: 1rem;
    font-family: bold;
    color: var(--text);
}

section.fullElems {
    width: 100%;
    height: 100%;
    background-color: var(--backgroundColorMain);
    display: none;
    position: fixed;
}

section.todo-list-full-page {
    /* display: flex; */
    flex-direction: column !important;
    padding: 0.5rem;
}

.back {
    background-color: var(--btn-color2);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    font-weight: 600;
    border: none;
    outline: none;
    font-size: 2rem;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    cursor: pointer;
}

.back:active {
    scale: 0.95;
}

section.todo-list-full-page h2 {
    font-size: 2.5rem;
    color: var(--text);

}

section.todo-list-full-page .todo-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;

}

section.todo-list-full-page .todo-container .addTask {
    width: 100%;
    background-color: var(--trinary2);
    padding: 0.5rem;
    border-radius: 0.5rem;

}

section.todo-list-full-page .todo-container .addTask form {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: #fff; */
    gap: 0.5rem;
}

section.todo-list-full-page .todo-container .addTask form input,
textarea {
    width: 100%;
    padding: 0.8rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    font-size: 1.5rem;
    color: black;
}

section.todo-list-full-page .todo-container .addTask form textarea {
    height: 8rem;
}

section.todo-list-full-page .todo-container .addTask form .checkBox {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
}

section.todo-list-full-page .todo-container .addTask form .checkBox #check {
    width: fit-content;
    cursor: pointer;
}

section.todo-list-full-page .todo-container .addTask form .checkBox label {
    color: greenyellow;
    font-size: 1rem;
    cursor: pointer;
}

section.todo-list-full-page .todo-container .addTask form button {
    width: fit-content;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: black;
    cursor: pointer;
}

section.todo-list-full-page .todo-container .addTask form button:active {
    scale: 0.95;
}

section.todo-list-full-page .todo-container .allTask {
    width: 100%;
    height: 13rem;
    padding: 0.5rem;
    background-color: var(--trinary2);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: auto;
    padding-bottom: 5rem;
}

section.todo-list-full-page .todo-container .allTask .task {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    position: relative;
    
}

/* h2 container */
section.todo-list-full-page .todo-container .allTask .task h2 {
  display: flex;
  align-items: center;
  gap: 1rem;
width: 10rem;
  min-width: 0;
  cursor: pointer;
       overflow-y: auto;        
  scrollbar-width: none;   
  -ms-overflow-style: none;
}


section.todo-list-full-page .todo-container .allTask .task h2 .task-text {
  flex: 1;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;


}

section.todo-list-full-page .todo-container .allTask .task h2 .task-text.show-full {
 white-space: nowrap;       
  overflow: auto;             
  text-overflow: unset;
}



.task h2 span.true {
  background-color: red;
  color: white;
  font-size: 0.7rem;
  padding: 0.3rem 0.4rem;
  border-radius: 0.3rem;
}

.task h2 span.false {
  opacity: 0;
}
section.todo-list-full-page .todo-container .allTask .task details{
    position: absolute;
    width:10rem;
    top: 2.2rem;
    right: 8%;  
    z-index: 999;
 
}

section.todo-list-full-page .todo-container .allTask .task details p{
    width: 100%;
    padding: 0.5rem;
    color: rgb(255, 255, 255);
    word-wrap: break-word;
    background-color: var(--backgroundColorSecond);
    border-radius: 0.5rem;

}
section.todo-list-full-page .todo-container .allTask .task button {
    background-color: var(--btn-color);
    padding: 0.8rem 0.8rem;
    border-radius: 0.5rem;
    color: var(--text);
    font-size: 0.8rem;
    font-weight: 500;
    border: none;
    outline: none;
    cursor: pointer;
}

section.todo-list-full-page .todo-container .allTask .task button:active {
    scale: 0.95;
}

@media (min-width:912px) {
    section.allElems {
        align-items: flex-start;
        justify-content: flex-start;
        height: 100%;
    }


    section.todo-list-full-page .todo-container {
        flex-direction: row;
        margin-top: 2rem;
        /* background-color: #fff; */
        height: 88%;

    }

    section.todo-list-full-page .todo-container .addTask {
        width: 35%;
        padding: 0.5rem;
        background-color: var(--trinary2);
        border-radius: 0.5rem;
        height: 100%;
    }

    section.todo-list-full-page .todo-container .addTask form {
        gap: 1rem;
    }

    section.todo-list-full-page .todo-container .addTask form textarea {
        height: 14rem;
    }

    section.todo-list-full-page .todo-container .allTask {
        width: 60%;
        background-color: var(--trinary2);
        height: 100%;

    }
    section.todo-list-full-page .todo-container .allTask .task h2{
        width: 20rem;
    }
section.todo-list-full-page .todo-container .allTask .task details{
    right: 30%;
}
    section.todo-list-full-page .todo-container .allTask .task button {
        font-size: 1.2rem;
    }
}