:root {
    --backgroundColorMain: #8C5E47;
    --backgroundColorSecond: hwb(13 31% 51%);
    --trinary: #e7c5b4;
    --trinary2: #B4846C;
    --btn-color: #301CA0;
    --btn-color2: #ffdd00;
    --text: #efdcdc;
    --text2: black
}


@font-face {
    font-family: bold;
    src: url(./fonnts.com-Aeonik-Bold.ttf);
}

@font-face {
    font-family: regular;
    src: url(./fonnts.com-Aeonik-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--backgroundColorMain);
}

html,
body {

    width: 100%;
    height: 100%;
}


#main {
    width: 100%;
    height: 100%;
    background-color: var(--backgroundColorMain);
    color: aliceblue;
}

nav {
    position: fixed;
    width: 100%;
    height: 4rem;
    background-color: var(--trinary);
    z-index: 99;
}

section.allElems {
    height: 100%;
    width: 100%;
    padding: 2rem;
    padding-top: 6rem;
    background-color: var(--trinary2);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    position: absolute;

}


.elem {
    background-color: #feba17;
    height: 20rem;
    width: 16rem;
    font-size: 30px;
    border-radius: 20px;
    overflow: hidden;
    transition: all ease 0.3s;
    position: relative;
}

.elem>img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.elem:active {
    scale: 0.96;
}

.elem>h1 {
    position: absolute;
    bottom: 1rem;
    font-size: 1.5rem;
    right: 1rem;
    font-family: bold;
    color: var(--text);
}

section.fullElems {
    width: 100%;
    height: 100%;
    background-color: var(--backgroundColorMain);
    display: none;
    position: fixed;
}

section.todo-list-full-page {
    display: flex;
    flex-direction: column !important;
    padding: 1rem;
}

.back {
    background-color: var(--btn-color2);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    font-weight: 600;
    border: none;
    outline: none;
    font-size: 2rem;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    cursor: pointer;
}
.back:active{
    scale: 0.95;
}

section.todo-list-full-page h2 {
    font-size: 2rem;
    color: var(--text);
}

@media (min-width:912px) {
    section.allElems {
        align-items: flex-start;
        justify-content: flex-start;
    }

    /* .todo-list-full-page .todo-container{

    } */
}